<h2 class="text-3xl">Acerca de esta aplicación</h2>
<p class="text-lg text-gray-800 mt-4">
  Esta aplicación fue creada como parte de un proyecto personal para practicar
  el desarrollo web con Node.js y Express.
</p>
<p class="text-lg text-gray-800">
  Utiliza plantillas EJS para renderizar las vistas y cuenta con un sistema CRUD
  completo para gestionar productos en una tienda ficticia.
</p>
<p class="text-lg text-gray-800">
  La idea es mostrar cómo se pueden implementar operaciones básicas (crear,
  leer, actualizar y eliminar) de forma sencilla y práctica.
</p>
<p class="text-lg text-gray-800">
  El código es lo mas limpio que pude crear, si estás empezando en el mundo del
  backend con Node, ¡esto te puede servir como referencia!
</p>
